/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* estilos css header */

/* estilos del header */


header .navbar{
    background-color: rgb(167, 146, 119);   
}

/* fondo header inicio */

.header-inicio .navbar{
    background-color: rgba(167, 146, 119, 0.524);
}

header .navbar .navbar-brand{
    margin-left: 0.1rem;   
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: clamp(30px, 5vw, 35px); 
    color: rgb(255, 242, 225);
    letter-spacing: 2px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5)
}

header .navbar .collapse .navbar-nav {
    list-style: none;   
    display: flex;
    gap: 2.2rem;
    margin-right: 0.1rem;
}

header .navbar .collapse .navbar-nav .nav-item .nav-link{   
    color: rgb(255, 242, 225);
    text-decoration: none;
    transition: black 0.3s ease, background-color 0.3s ease;
    font-size: clamp(16px, 4vw, 24px);
    font-weight: 600;
    letter-spacing: 0.1rem;
}

header .navbar .navbar-brand:hover{
    transform: scale(1.1);
    color: rgb(255, 242, 225);
}

header .navbar .collapse .navbar-nav .nav-item:hover{
    /* al pasar el cursor los lementos se escalan */
    transform: scale(1.1);
}

header .navbar .collapse .navbar-nav .nav-item .nav-link:hover{
    /* al pasar el cursor aumenta el tamaño de la tipografia del texto*/   
    font-weight: 600;   
}

/* media querys para desactivar hover en pntallas mas pequeñas */
@media (max-width: 1024px) {
    header .navbar .navbar-brand:hover{
        transform: inherit;  
        pointer-events: none;
    }
    
    header .navbar .collapse .navbar-nav .nav-item:hover{
        transform: inherit;
        pointer-events: none;
    }

    header .navbar .collapse .navbar-nav .nav-item .nav-link:hover{
        font-weight: inherit;
        pointer-events: none;
    }
}

/* estilos icono menu hamburguesa */

header .navbar .navbar-toggler{
    background-color: rgb(234, 216, 192);
    border: 3px solid rgb(255, 242, 225);
}

/* elimin ar estilos predeterminados de pseudoclases de boostrap */
.navbar-toggler:focus, 
.navbar-toggler:hover, 
.navbar-toggler:active {
  background-color: inherit; /* No cambia el fondo */
  box-shadow: none; /* Quitar sombras o bordes adicionales */
  outline: none; /* Sin borde de enfoque */
}

/* estilos css main */


/* estilos del home */

.body-home{
    background-image: url(img/img.home.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;   
}

.main-home{
    padding: 3rem;
    background-color: transparent;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.main-home h1{
    display: inline-block; 
    color: rgb(255, 242, 225);
    margin-bottom: 7rem;
    font-size: clamp(4rem, 6rem, 10rem); 
    letter-spacing: 0.9rem; 
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: bold;
    text-shadow: 10px 10px 4px rgba(54, 54, 54, 0.5) ;
}


.botton-home{
    display: flex;
    justify-content: center;
}

.main-home .botton-home a{
    color: rgb(255, 242, 225);
    text-decoration: none;  
    background-color: rgb(167, 146, 119);
    padding: 1rem 2rem; 
    border-radius: 5%; 
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 1.7rem;
    border: 1.5px solid rgb(255, 242, 225);
    font-style: bold ;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 2.5rem;
    
}

.botton-home a:hover{
    transform: scale(1.1);
}


/* estilos page sobre-mendoza */

.h1-sobre-mendoza{
    color: black;
    text-decoration: 3px underline black;
    text-underline-offset: 7px;
    font-weight: 900;
    font-style: bold;
    font-size: 2.7rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
}

main div ul li{
    list-style: none;
}

div ul li h2{
    /* estilos de los h2 */
    text-decoration: underline;
    text-underline-offset: 4px;
    letter-spacing: 1px;
    text-align: left;
    margin: 35px 0 20px 0;
    color: rgb(167, 146, 119);
    font-style: bold;
    font-weight: 700;
    font-size: 1.5rem;
}

div ul li p{
    /* estilos de los parrafos */
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

/* estilos cards page turismo */

/* Estilos del contenedor principal de cards */

body{
    background-color: #000000;
}
.main-turismo{
    background-color: rgb(255, 242, 225);
}

.card-container-turismo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Elimina los márgenes en la parte superior e inferior */
    padding: 40px 20px;  
}
  
/* Estilos de cada card */
.card-turismo {
    background-color: rgb(234, 216, 192);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
    border: 3px solid rgb(167, 146, 119);
    
}
  
.card-turismo:hover {
    transform: translateY(-10px); /* Efecto flotante al hacer hover */
}
  
  /* Estilos de la imagen */
.card-turismo img {
    width: 100%;
    height: 40%;
    border-bottom: 2px solid rgb(167, 146, 119);
    object-fit: cover;
}
  
  /* Estilos del título */
.card-turismo h3 {
    font-size: 1.7rem;
    color: rgb(69, 59, 45);
    margin: 15px 0;
}
  
  /* Estilos del texto */
.card-turismo p {
    font-size: 1rem;
    color: #2d2c2c;
    padding: 0 20px;
    margin-bottom: 30px;
    
}
  
  /* Estilos del botón */
.card-btn-turismo {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(167, 146, 119);
    color: #fff;
    border: 1px solid rgb(69, 59, 45);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}
  
.card-btn-turismo:hover {
    background-color: rgb(69, 59, 45);
}
  

@media (max-width: 1024px) {
    .main-turismo{
        padding: 7rem;
    }

    .card-container-turismo{
    grid-template-columns: 1fr;
    }
}

/* Estilos responsivos mobile*/
@media (max-width: 768px) {
    .main-turismo{
        padding: 1rem;
    }

    .card-container-turismo {
      grid-template-columns: 1fr;
    }
  
    .card-turismo {
      margin-bottom: 20px;
    }
  
 .card-turismo h3 {
      font-size: 1.5rem;
    }
  
    .card-turismo p {
      font-size: 0.9rem;
    }
}

/* edtilos cads page hospedajes */

.main-hospedajes{
    background-color: rgb(255, 242, 225);
    flex: 1;
    padding-bottom: 10px;
}

.main-hospedajes .h1-hospedajes{
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-weight: 900;
    font-style: bold;
    font-size: 2.7rem;
    letter-spacing: 2px;
}

.main-hospedajes .p-hospedajes{
    text-align: center;
    font-weight: 600;
    font-style: bold;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.card-container-hospedaje{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    max-width: 1200px;
    margin: 2rem;
    border-top: 1px solid rgb(167, 146, 119);
    border-bottom: 1px solid rgb(167, 146, 119);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-hospedaje{
    background-color: rgb(234, 216, 192);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgb(167, 146, 119);
}

.card-hospedaje:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);    
}

.img-hospedaje{
    width: 100%;
    height: 200px;
    object-fit: cover;
   
}

.card-content-hospedaje{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-content-hospedaje h3{
    margin: 0;
    font-size: 2em;
    font-weight: 800;
    font-style: bold;
    letter-spacing: 0.1rem;
    color: rgb(167, 146, 119); 
    text-align: center;
}

.card-content-hospedaje p{
    color: #3c3b3b;
    margin: 10px;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

/* Precio y botón de reservar */

.price-reserve {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
  
.price-reserve .price{
    font-style: bold;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(52, 50, 50);
}
  
.reserve-btn {
    text-decoration: none;
    background-color: rgb(167, 146, 119);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.reserve-btn:hover {
    background-color: rgb(209, 187, 158);
    color: white;
    text-decoration: none;
}
  
/* Responsive */

@media (max-width: 768px) {
    .card img {
        height: 200px;
    }
   
    .card-hospedaje{
        max-width: 400px;
    }

    .card-container-hospedaje{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-hospedajes .h1-hospedajes{
        font-size: 2rem;
    }

    .main-hospedajes .p-hospedajes{
        font-size: 1rem;
    }
}

/* estilo css page contacto */

.main-contacto{
    display: flex;
    flex-direction: row; /* Elementos en fila (row) */
    justify-content: space-between; /* Espacio entre texto y formulario */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100vh; /* Ocupa toda la altura del viewport */
    padding: 4rem;
    background-color: rgb(255, 242, 225);
    flex: 1;
}

/* Sección de texto */
.text-section {
    max-width: 40%; /* El texto ocupa la mitad de la pantalla */
    
}
  
.text-section h1 {
    font-size: 2.5em;
    color: #333;
}
  
.text-section p {
    font-size: 1.2em;
    color: #666;
}
  
/* Estilos del formulario */
.contact-form {
    display: flex;
    flex-direction: column; /* Dirección en columna */
    gap: 15px; /* Espacio entre los campos del formulario */
    width: 100%;
    max-width: 500px; /* Anchura máxima del formulario */
    background-color: rgb(234, 216, 192);
    padding: 2.5rem;
    border: 2px solid rgb(167, 146, 119);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.595);
}
  
.contact-form label {
    font-size: 1em;
    color: #333;
}
  
.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgb(167, 146, 119);
    border-radius: 5px;
    width: 100%; /* Ocupa todo el ancho del formulario */
}
  
.contact-form button {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(167, 146, 119);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
  
.contact-form button:hover {
    background-color: rgb(209, 187, 158);
}
  
/* responsive para tablets 1024px */

@media (max-width: 1024px) {
    .main-contacto {
        flex-direction: column; /* En pantallas pequeñas, los elementos se apilan en columna */
        align-items: center; /* Centra los elementos en columna */
        justify-content: space-around;
        gap: 1rem;
        padding: 4rem;
    }
  
    .text-section {
        max-width: 100%;
        text-align: center; /* Texto centrado en pantallas pequeñas */
    }
  
    .contact-form {
        max-width: 100%;
        padding: 1rem 2rem 2rem 2rem;
    }
}

/* Responsivo para mobile */

@media (max-width: 768px) {
    .main-contacto {
        flex-direction: column; /* En pantallas pequeñas, los elementos se apilan en columna */
        align-items: center; /* Centra los elementos en columna */
        padding: 1rem;
        flex: 1;
        padding-bottom: 30px;
    }
  
    .text-section {
        max-width: 100%;
        text-align: center; /* Texto centrado en pantallas pequeñas */
        margin-bottom: 20px;
    }
  
    .contact-form {
        max-width: 100%;
        padding: 1rem;
    }
}
  

/* estilos css footer */

footer{
    text-align: center;
    background-color: rgb(131, 131, 131);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer p{
    font-size: 20px;
}

